html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #ffffff;
}
body {
    background-color: #ffffff;
    width: 100%;
    max-width: cover;
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    margin-right: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 30px;
    height: 50px;
    width: 750px;
    background-color: #FA7CD4;
    border-radius: 10px;
    position: absolute;
    border-radius: 10px;
    font-size: 26px;
    margin-left: 25%;
    margin-right: 25;
}
.photo{
    width: 400px;
    margin-right: 3%;
    padding-top: 40px;
}
img{
    width: 340px;
}
img:hover{
    transform: scale(0.9);
    transition: transform 0.5s;
}
.photos-1{
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 15%)) ;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px 40px;
    margin-top: 50px;
    overflow-x: scroll;
}
.photos-2{
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 15%)) ;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px 40px;
    margin-top: 50px;
    overflow-x: scroll;
}
.photos-3{
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 15%)) ;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px 40px;
    margin-top: 50px;
    overflow-x: scroll;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 90px;
    color: #FA7CD4;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 0;
    padding-top: 10px;
}
.h2{
    font-size: 100px;
    color: #FA7CD4;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: normal;
}
.p-1-pink{
    display: flex;
    justify-content: right;
    font-size: 40px;
    color: #FA7CD4;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 0;
}
.p-1-1-pink{
    display: flex;
    justify-content: right;
    margin-right: 8%;
    font-size: 40px;
    color: #FA7CD4;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 0;
    margin-top: -20px;
}
.p-2-pink{
    font-size: 30px;
    color: #FA7CD4;
    margin-top: 50px;
    margin-bottom: 50px;
}
.h1-w{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 120px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow:0px 5px 5px #691550;
}
.h1-p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    color: #FA7CD4;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border-color: #FA7CD4 3px;
    text-shadow:0px 5px 5px #691550;
}
.section-1{
    background-color: #FA7CD4;
    background-size: cover;
    border-radius: 10px;
    margin-right: 10px;
    height: 500px;
}
.p-1-white{
    font-size: 30px;
    color: #ffffff;
}
.section-3{
    background-color: #FA7CD4;
    background-size: cover;
    border-radius: 10px;
    margin-right: 10px;
    height: 650px;
}
.my-contact{
    display: block;
    border: #FA7CD4 3px;
    margin-right: 10px;
}
.p-form{
    font-size: 50px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 20px;
}
.section-1-1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 100px;
    margin-right: 100px;
}
.p-3-white{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: -15px;
    margin-top: -10px;
}
.p-3-pink{
    font-size: 36px;
    color: #FA7CD4;
}
.form-input{
    background-color: #ffffff;
    width: 700px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    border-color: #ffffff;
}
.button-send{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #ffffff;
    height: 65px;
    width: 30%;
}
.button-up{
    display: flex;
    align-content: center;
    justify-items: center;
    background-color: #fdd4f0;
    border-radius: 10px;
    height: 65px;
    position: fixed;
    top: 89%;
    left: 89%;
}
.form-textarea{
    height: 218px;
    width: 500px;
    border-radius: 10px;
    font-size: 40px;
    color: #FA7CD4;
}
.contact-form{
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto)) ;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    height: 218px;
    margin-left: 20px;
}
.hi{
    text-shadow:0px 5px 5px #691550;
}
